.container--0- {
  position: absolute;
  left: 134.79264640808105px;
  top: -130.20735359191895px;
  width: 371px;
  height: 541px;
  background-color: #faf9f6;
  border-width: 2.2073535919189453px;
  border-style: solid;
  border-color: #f8f8f8;
  justify-content: start;
  align-items: start;
  border-radius: 44.14707565307617px;
  border-top-left-radius: 44.14707565307617px;
  border-top-right-radius: 44.14707565307617px;
  border-bottom-left-radius: 44.14707565307617px;
  border-bottom-right-radius: 44.14707565307617px;
}
.container-0-1-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 867.489990234375px;
  height: 97.1235580444336px;
  background-color: #f5f5fa;
  justify-content: start;
  align-items: start;
}
.container-2-3-0 {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-3-4-0 {
  position: absolute;
  left: -39.732364654541016px;
  top: 1.1327686309814453px;
  width: 905.0149536132812px;
  height: 66.22061157226562px;
  justify-content: start;
  align-items: start;
  gap: 30.902950286865234px;
}
.container-3-4-1 {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  gap: 8.829414367675781px;
  display: flex;
}
.container-4-5-0 {
  position: absolute;
  left: 24.280900955200195px;
  top: 6.622066497802734px;
  width: 72.84266662597656px;
  height: 33.11030578613281px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-4-5-1 {
  position: absolute;
  left: 52.97649002075195px;
  top: 0.0000133514404296875px;
  width: 35.317657470703125px;
  height: 30.902950286865234px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-4-5-2 {
  position: absolute;
  left: 97.12356567382812px;
  top: 0.0000133514404296875px;
  width: 55.183837890625px;
  height: 30.902950286865234px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-3-4-2 {
  position: absolute;
  left: 695.31640625px;
  top: 27.62101173400879px;
  width: 13.244121551513672px;
  height: 13.244121551513672px;
  justify-content: start;
  align-items: start;
}
.container-3-4-3 {
  position: absolute;
  left: 13.244121551513672px;
  top: 23.2063045501709px;
  width: 119.19709777832031px;
  height: 46.35442352294922px;
  justify-content: start;
  align-items: start;
  border-radius: 44.147071838378906px;
  border-top-left-radius: 44.147071838378906px;
  border-top-right-radius: 44.147071838378906px;
  border-bottom-left-radius: 44.147071838378906px;
  border-bottom-right-radius: 44.147071838378906px;
}
.container-0-1-2 {
  position: absolute;
  left: 186.3526611328125px;
  top: 321.71875px;
  width: 641px;
  height: 300px;
  justify-content: start;
  align-items: start;
}
.text-1-2-0 {
  width: 380px;
  height: 62px;
  color: #091e1d;
  font-size: 45px;
  font-family: Tinos, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-1-2-1 {
  width: 100%;
  height: 100%;
  color: #fee9e7;
  font-size: 16px;
  font-family: Roboto, "SemiBold";
  font-weight: 600;
  text-align: left;
  vertical-align: top;
}
.text-0-1-3 {
  width: 424.9944152832031px;
  height: 124px;
  color: #ffffff;
  font-size: 48.5617790222168px;
  font-family: Tinos, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.container-0-1-4 {
  position: relative;
  width: 194px;
  height: 57px;
  background-color: #44c2c2;
  border-width: 1px;
  border-style: solid;
  border-color: #c00f0c;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  padding: 12px 12px 12px 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-0 {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-0-1-5 {
  position: absolute;
  left: 452.2439601421356px;
  top: 1698.6100490093231px;
  width: 354px;
  height: 97px;
  background-color: #ffffff;
  border-width: 2.10870099067688px;
  border-style: solid;
  border-color: #efefef;
  justify-content: start;
  align-items: start;
  border-radius: 227.73968505859375px;
  border-top-left-radius: 227.73968505859375px;
  border-top-right-radius: 227.73968505859375px;
  border-bottom-left-radius: 227.73968505859375px;
  border-bottom-right-radius: 227.73968505859375px;
}
.container-0-1-6 {
  position: absolute;
  left: 45.145307540893555px;
  top: 659.511396408081px;
  width: 379px;
  height: 536px;
  background-color: #faf9f6;
  border-width: 2.2073535919189453px;
  border-style: solid;
  border-color: #f8f8f8;
  justify-content: start;
  align-items: start;
  border-radius: 44.14707565307617px;
  border-top-left-radius: 44.14707565307617px;
  border-top-right-radius: 44.14707565307617px;
  border-bottom-left-radius: 44.14707565307617px;
  border-bottom-right-radius: 44.14707565307617px;
}
.container-1-2-2 {
  position: absolute;
  left: 71px;
  top: 12px;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.text-2-3-1 {
  width: 100%;
  height: 100%;
  color: #fee9e7;
  font-size: 24px;
  font-family: Inter, "Semi Bold";
  font-weight: 600;
  text-align: left;
  vertical-align: top;
}
.container-2-3-2 {
  position: absolute;
  left: 71px;
  top: 12px;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.text-1-2-3 {
  width: 315px;
  height: 54px;
  color: #000000;
  font-size: 20px;
  font-family: Tinos, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.container-0-1-7 {
  position: absolute;
  left: 45.145307540893555px;
  top: 659.511396408081px;
  width: 379px;
  height: 554px;
  background-color: #faf9f6;
  border-width: 2.2073535919189453px;
  border-style: solid;
  border-color: #f8f8f8;
  justify-content: start;
  align-items: start;
  border-radius: 44.14707565307617px;
  border-top-left-radius: 44.14707565307617px;
  border-top-right-radius: 44.14707565307617px;
  border-bottom-left-radius: 44.14707565307617px;
  border-bottom-right-radius: 44.14707565307617px;
}
.text-1-2-4 {
  width: 391px;
  height: 54px;
  color: #000000;
  font-size: 20px;
  font-family: Tinos, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-9 {
  width: 237px;
  height: 71px;
  color: #000000;
  font-size: 26.488243103027344px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}
.text-0-1-10 {
  width: 229px;
  height: 71px;
  color: #000000;
  font-size: 26.488243103027344px;
  font-family: Inter, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}
.container-0-1-12 {
  position: absolute;
  left: 45.145307540893555px;
  top: 1226.511396408081px;
  width: 780px;
  height: 402px;
  background-color: #faf9f6;
  border-width: 2.2073535919189453px;
  border-style: solid;
  border-color: #f8f8f8;
  justify-content: start;
  align-items: start;
  border-radius: 44.14707565307617px;
  border-top-left-radius: 44.14707565307617px;
  border-top-right-radius: 44.14707565307617px;
  border-bottom-left-radius: 44.14707565307617px;
  border-bottom-right-radius: 44.14707565307617px;
}
.container-1-2-1 {
  position: relative;
  width: 342px;
  height: 75px;
  background-color: #44c2c2;
  border-width: 1px;
  border-style: solid;
  border-color: #c00f0c;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  padding: 12px 12px 12px 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-1-2-3 {
  position: relative;
  width: 325px;
  height: 75px;
  background-color: #44c2c2;
  border-width: 1px;
  border-style: solid;
  border-color: #c00f0c;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  padding: 12px 12px 12px 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.text-0-1-13 {
  width: 248px;
  height: 45px;
  color: #faf9f6;
  font-size: 30.902950286865234px;
  font-family: Tinos, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-14 {
  width: 353px;
  height: 45px;
  color: #faf9f6;
  font-size: 30.902950286865234px;
  font-family: Tinos, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-0 {
  width: 280px;
  height: 124px;
  color: #091e1d;
  font-size: 45px;
  font-family: Tinos, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
.text-0-1-1 {
  width: 391px;
  height: 54px;
  color: #000000;
  font-size: 20px;
  font-family: Tinos, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-0-1-2 {
  width: 298px;
  height: 54px;
  color: #000000;
  font-size: 20px;
  font-family: Tinos, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}